name: Optimización de assets
on:
  push:
    branches: [ main ]
jobs:
  optimize:
    name: Optimizar Imágenes y Código
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24'
      - name: Minificar CSS/JS
        run: |
          npm i -D terser@5 clean-css-cli@5
          npx terser script.js -o script.min.js -c -m
          npx cleancss -o style.min.css style.css
